* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    padding-top: 20px;
    padding-top: 20px;
}

p {
    padding-bottom: 20px;
    color: dimgray;
}

.name {
    color: #ec4c78;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}

.half-width img {
    width: 100%;
}

.top {

    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}



.link {
    text-decoration: none;
    background-color: #ec4c78;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.dream {
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.single {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}

footer p {
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}

.experience {
    padding: 120px 0 0 0;
}

.experience-bg {
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    padding: 100px 0 100px 0;
}

.experience h2 {
    text-align: center;

}

.experience-full-box {
    margin: 0px 100px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.one-third-width {
    float: left;
    width: 33.33%;
}

.one-third-width img {
    width: 100%;
}

#box-1,
#box-2 {
    padding-right: 30px;
}

.footer {
    margin: 100px 0;
}

.footer h2 {
    margin-bottom: 50px;
    text-align: center;

}

.footer {
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.client-feedback {
    text-align: center;
}

.client-feedback {
    margin-bottom: 30px;

}

.email-contact {
    margin: 0px 300px;
    padding: 40px 20px;
    text-align: center;
    background-color: #ec4c78;
    color: white;
    border-radius: 3px;
}

.email-contact p {
    padding-bottom: 5px;
    font-size: 0.7em;
    color: white;
}


input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}



.contact-us-section {
    padding: 100px 0;
    background-color: #f2f2f2;

}

.section-heading {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

